.contact-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 135px;
  @media (max-width: 1000px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 125px;
  }

  @media (max-width: 500px) {
    width: calc(100% - 40px);
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: initial;
    margin-left: 45px;
    overflow: auto;
    padding-top: 60px;
  }
}
